.background-color {
    background-color:green;


.center-text {
            text-align: center;
        }

.right-text {
            text-align: right;
        }
.mhw{color:yellow;text-align:center;}
.col-md-3{color:purple;}
.www{font color="white"}

